.conatiner {
    margin-top: 35px;
    height: 50%;
    width: 101.1%;
    background-image: url('../../../Res/map.jpg');
    background-repeat: no-repeat;
}

.services-text {
    padding: 10px 10px 10px 0px;
    text-align: right;
    color: #172455;
    font-size: 18px;
    font-weight: 500;
    border-right: 3px #172455 solid;
}

.services-text:hover {
    color: white;
    cursor: pointer;
    background-color: #172455;
}

.service {
    font-size: 24px;
    font-weight: 400;padding: 10px;
    text-align: right;
    color: #172455;
    border-right: 3px #172455 solid;
}

.market {
    font-size: 21px;
    color: #172455;
}

.ps {
    color: #172455;
    font-size: 17px;
}

.red {
    width: 101.1%;
    margin-top: 35px;
    margin-bottom: 15px;
    background-color: #EC615E;
    color: white;
    padding: 5px 0px 30px 0px;
}

.red-title {
    font-size: 24px;
}

.red-desc {
    font-size: 18px;
}

.started-btn {
    border: none;
    zoom: 1.5;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    background-color:#172455;
}

.started-btn:hover {
    cursor: pointer;
}

.map-img {
    width: 100%;
    height: auto;
    object-position: center;
}

.input-div {
    margin-top: 5%;
    margin-left: 10%;
}

.input {
    zoom: 2;
    border: none;
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position-y: 8px;
    background-position-x: 5px;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.input::-webkit-input-placeholder {
    font-size: 7px;
    color: #C5CFDF;
}

.live-input {
    background-image: url('../../../Res/location-icon.png');
}

.btn-input {
    font-size: 10px;
    zoom: 2;
    border: none;
    color: white;
    padding: 5px 10px;
    background-color: #F42E31;
}

.btn-input:hover {
    cursor: pointer;
}

.div-c {
    height: 100px;
    width: 500px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}